.transactionHistory{
    width: 500px;
    margin: auto;
    border: 2px solid purple;
    border-radius: 8px;
    table-layout: fixed;
    border-collapse: collapse;
}

.lineName{
    border: 2px solid purple;
    background-color: rgb(0, 119, 255);
    color: snow;
    padding: 8px;
}

.lineInfo{
    text-align: center;
    padding: 8px;
    border: 2px solid purple;
    background-color: wheat;
}